<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.usc.parknpay">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".database.DatabaseTalker"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".owner.AddSpotActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".authentication.RegistrationActivity" />
        <activity android:name=".authentication.SetDefaultModeActivity" />

        <activity android:name=".mutual.PaymentInfoActivity" />
        <activity android:name=".mutual.AccountSettingsActivity" />

        <!--<activity android:name=".owner.AddSpotActivity"/>-->
        <activity android:name=".owner.OwnerMainActivity" />

        <activity android:name=".seeker.SeekerMainActivity" />
        <activity android:name=".seeker.SearchFilterActivity" />
        <activity android:name=".seeker.SpotDetailsActivity" />
        <activity android:name=".seeker.ReservationsActivity" />
        <activity android:name=".seeker.HistoryActivity" />
        <activity android:name=".seeker.RateActivity"></activity>
    </application>

</manifest>